body {
  padding-top: 70px;
}

/* Signin Tempplate Bootstrap https://getbootstrap.com/docs/4.1/examples/sign-in/ */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*https://codepen.io/aneekul/post/columnar-independence*/

/*Set the row height to the viewport*/
.row-height {
  height: 80vh;
}

/*Set up the columns with a 100% height, body color and overflow scroll*/

.scoll-adverts {
  height: 100%;
  overflow-y: scroll;
}

/*Remove the scrollbar from Chrome, Safari, Edge and IE*/
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  -ms-overflow-style: none !important;
}