body {
  padding-top: 70px;
  background-color: whitesmoke
}

.navbar {
  background-color: #47AC96;
}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  font-weight: 550;
  vertical-align: middle;
}

.navbar a:link,
.navbar a:visited {
  text-decoration: none;
  color: white;
}

.color-black a:link,
.color-black a:visited,
.color-black,
.color-black:link,
.color-black:visited {
  color: black !important;
}

.btn-primary,
.btn-outline-success,
.btn-primary:focus,
.btn-outline-success:focus {
  background-color: #47AC96;
  color: white;
  border-color: white;

}

.btn-primary:hover,
.btn-outline-success:hover {
  background-color: white;
  color: #47AC96;
  border-color: #47AC96;
  outline: none !important;
}

.btn-primary:active,
.btn-outline-success:active,
.nav-item a:hover {
  background-color: white !important;
  color: #47AC96 !important;
  border-color: #47AC96 !important;
  outline: none !important;
}

.box {
  position: relative;
}

.email {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.del-edit-buttons {
  position: absolute;
  bottom: 5%;
  right: 1%;
}

.book-box {
  transition: all 1s linear;
}

.visuallyhidden {
  opacity: 0;
}

/* Signin Tempplate Bootstrap https://getbootstrap.com/docs/4.1/examples/sign-in/ */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 10px;
  margin: auto;
  word-break: break-all;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* START */
main h1 {
  font-size: 1.2em;
}

/* HOME */
/*https://codepen.io/aneekul/post/columnar-independence*/

/*Set the row height to the viewport*/
.row-height {
  height: 80vh;
}

/*Set up the columns with a 100% height, body color and overflow scroll*/

.scoll-adverts {
  height: 100%;
  overflow-y: scroll;
}

/*Remove the scrollbar from Chrome, Safari, Edge and IE*/
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  -ms-overflow-style: none !important;
}